<h1>
   hey

</h1>
<p></p>
<p><%=token.user.name%></p>
<br>
<br>
<p>we got your back</p>
<p>here is the link to change the password</p>
<p><a href="http://localhost:8000/user/resetpassword/<%= token.accessToken%>">click here</a></p>