<!DOCTYPE html>
<html>
<head>
    <title>Calculator</title>
    <link href="<%= assetPath('css/calci.css')%>" rel="stylesheet" type="text/css">
</head>
<body>
<div id="contain">
    <div id="label">Calculator</div>
    <div id="display">
        <p id="text">
           
        </p>
    </div>
    <div id="keypad">
        <div class="row">
        <button data-value='AC'>AC</button>
        <button >+/-</button>
        <button data-value="%">%</button>
            <button data-value="/" class="side">/</button>
        </div>
        
         <div class="row">
        <button data-value="7">7</button>
        <button data-value="8">8</button>
        <button data-value="9">9</button>
            <button data-value="*" class="side">*</button>
        </div>
        
         <div class="row">
        <button data-value="4">4</button>
        <button data-value="5" >5</button>
        <button data-value="6">6</button>
            <button data-value="-" class="side">-</button>
        </div>
         <div class="row">
        <button data-value="1" >1</button>
        <button data-value="2">2</button>
        <button data-value="3">3</button>
            <button data-value="+" class="side">+</button>
        </div>
         <div class="row">
        <button id="zero" data-value="0">0</button>
        <button data-value=".">.</button>
        <button class="side" data-value="=">=</button>
            
        </div>
        
        
    </div>
    </div>
    <script src="<%= assetPath('js/calci.js')%>"></script>
</body>
</html>