<!DOCTYPE html>
<html>
<head>
    <title>Dog Lovers</title>
    <link rel="stylesheet" href="<%= assetPath('css/dog.css')%>">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <main>
<div>
    <label for="fore"class="d-block">Select a Type</label>
  <select id="fore">
    
    </select>  
    <button type="submit" id="get" class="btn btn-primary "> Get image</button>
   
   
   
    </div>
    
    <div >
       
       <img src="<%= assetPath('images/dog.jpg')%>"  class="rounded"  id="img" height="500px" width="700px" alt="select the type" >
 
       <button type="button" id="next" class="btn btn-primary "> Next Image</button>
       
     <p>
            
            </p>
    </div>

    </main>
    <script src="<%= assetPath('js/dog.js')%>"></script>
</body>
</html>