<head>
    <style>
      footer{
      width: 100%;
    padding: 0%;
    position: absolute;
    bottom: 0%;
      margin: 0px;
    }
    </style>
  </head>
<form action="forgotpassword" method="POST">
<input type="email" name="email" placeholder="enter ur registered email">
<button type="submit">submit</button>
</form>



