
<link  href="/css/profile.css" rel="stylesheet">
<section id="feed-posts">
  
    
    <%if(locals.user){%>
      
   <form action="./post/add" id="new-post-form" method="POST">
    <h3>Add New Post</h3>
   <textarea name="content" id="post-input" col="50" rows="5" placeholder="Add new Post"></textarea> 
   <input type="submit">
   </form> 
<%}%>
<h2>Posts</h2>
    <h2 id="user_heading">Users</h2>
<div id="post-list_container1">
  <div id="post-display">
<ul>
  <li>
    
<%for(post of posts){%>
    <%- include('_post'); %>
<%}%></li>
</ul>
</div>
<div id="user-display">
<ul>
<%for(u of users){%>
  <li><div><a href="user/profile/<%=u.id%>"> <%=u.name %>
    <%}%></a></div>
  </li> 

</ul>
</div>
</div>
</section>
<script src="js/home_comments.js" ></script>
<script src="js/home_posts.js"></script>

<!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script src="js/likes.js"></script>


