
<link  href="/css/profile.css" rel="stylesheet">
<section id="feed-posts">
    <h4>Posts</h4>
   <form action="/post/add" id="new-post-form" method="POST">
   <textarea name="content" col="50" rows="5"></textarea> 
   <input type="submit">
   </form> 
</section>