<%
if(token.isValid){%>
<form action="../../user/makenew/<%=token.accessToken%>" method="POST"  >
    <input type="password" name="password">
    <input type="password" name="confirm_password">
    <button type="submit">update pass</button>
</form>
<%}else{%>
    <p>wrong token value</p>
    <%}%>