<form action="/user/create-session" method="POST">

    <input type="email" name="email" placeholder=" enter the email" required>
    <input type="password" name="password" placeholder="password" required>
   <button type="submit">Sign in</button>
  </form>