<form action="/users/create-session" method="POST">

    <input type="email" name="email" placeholder=" enter the email" required>
    <input type="password" name="password" placeholder="password" required>
    <input type="button" value="Signin">
  </form>