
<form action="/user/create-session" method="POST">

    <input type="email" name="email" placeholder=" enter the email" required>
    <input type="password" name="password" placeholder="password" required>
   <button type="submit">Sign in</button>
  </form>
  <p>
    <a href="forgotpassword">Forgots password</a></p>
   <p><a href="/user/auth/google">ds signin/singup</a>
  </p>
  