<form action="/user/signup" method="POST">

  <input type="email" name="email" placeholder=" enter the email" required>
  <input type="text" name="name" placeholder="name" required>
  <input type="password" name="password" placeholder="password" required>
  <input type="password" name="confirm_password" placeholder="confirm  the password" required>
  <button type="submit" >sign up</button>
</form>
<p>
  <a href="/user/auth/google">google signin/singup</a>
</p>