body{
  background-color: pink;   
  margin: 0px;
  
  
 }
 header{
     color:brown;
     background-color: cornflowerblue;
     height:10%;
     display: flex;
     padding: 0px;
     flex-direction: row;
    justify-content:center ;
    align-items: center;
 }
 footer{
     color:gray;
   position: static;
   bottom: 0px;
     background-color: cornflowerblue;
     height:10%;
     width: 100%;
     display: flex;
     flex-direction: row;
    justify-content:center ;
    align-items: center;   
 }
 header ul{
     
     border: 2px red solid;
     position: absolute;
     right:0px;
     margin: 0px;
     display: flex;
     flex-direction: row;
 
 }
 header ul li{
     margin: 15px;
 }
 
